@model RegistrarUsuarioViewModel
@{
    ViewData["Title"] = "Usuarios Internos";
}

<div class="flex justify-center items-center h-full">
    <div class="bg-custom p-12 rounded-lg shadow-md w-full max-w-3xl">
        <h2 class="text-4xl font-bold mb-8 text-center text-white">
            Registrar Usuario Interno
        </h2>
        <form asp-action="Interno" class="grid grid-cols-2 gap-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="NombreUsuario" class="block text-gray-200 text-lg font-bold mb-2">Nombre</label>
                <input type="text" asp-for="NombreUsuario" class="shadow appearance-none text-sm border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nombre" />
            </div>
            <div>
                <label asp-for="Email" class="block text-gray-200 text-lg font-bold mb-2">Email</label>
                <input type="email" asp-for="Email" class="shadow appearance-none text-sm border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Email" />
            </div>
            <div>
                <label asp-for="Contrasena" class="block text-gray-200 text-lg font-bold mb-2">Contraseña</label>
                <input type="password" asp-for="Contrasena" class="shadow appearance-none border text-sm rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Contraseña" />
            </div>
            <div>
                <label asp-for="Telefono" class="block text-gray-200 text-lg font-bold mb-2">Teléfono</label>
                <input type="tel" asp-for="Telefono" class="shadow appearance-none text-sm border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Teléfono" />
            </div>
            <div>
                <label asp-for="IdRol" class="block text-gray-200 text-lg font-bold mb-2">Rol</label>
                <select asp-for="IdRol" class="shadow appearance-none border rounded w-full py-3 px-4 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="0">Seleccione un rol</option>
                    <option value="1">Admin</option>
                    <option value="2">Técnico</option>
                    <option value="3">Cliente</option>
                </select>
            </div>
            <div class="col-span-2 flex items-center justify-center mt-6">
                <button type="submit" class="bg-button hover:bg-teal-700 text-white text-lg font-bold text-sm py-3 px-6 rounded focus:outline-none focus:shadow-outline">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</div>
