@model CrearTicketViewModels
@{
    ViewData["Title"] = "Crear Ticket";
}
<div class="flex flex-col w-full h-full justify-center items-center">
    <h1 class="text-4xl font-bold text-teal-700 text-center mb-8">
        Crear Ticket
    </h1>
    <div class="bg-custom p-8 rounded-lg shadow-lg w-full max-w-3xl">
        <form asp-action="CrearTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label class="block text-white text-sm font-bold mb-2"
                           asp-for="Servicio">NOMBRE DEL SERVICIO</label>
                    <input asp-for="Servicio" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="text" />
                     <span asp-validation-for="Servicio"></span>
                </div>
                <div>
                    <label class="block text-white text-sm font-bold mb-2"
                           asp-for="DescripcionProblema">DESCRIPCIÓN DEL PROBLEMA</label>
                    <textarea asp-for="DescripcionProblema" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              rows="4"></textarea>
                    <span asp-validation-for="DescripcionProblema"></span>
                </div>
                <div>
                    <label asp-for="Prioridad" class="block text-white text-sm font-bold mb-2">PRIORIDAD</label>
                    <select asp-for="Prioridad" class="shadow appearance-none text-sm border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option>Baja</option>
                        <option>Media</option>
                        <option>Alta</option>
                    </select>
                </div>
            </div>
            <div class="flex items-center justify-center mt-6">
                <button class="bg-teal-700 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    Crear
                </button>
            </div>
        </form>
    </div>
</div>