@model ContactoViewModel
@{

}
<button class="close-button absolute top-2 right-2 text-teal-600"
        onclick="closeModalCliente()">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="40"
         height="40"
         viewBox="0 0 24 24">
        <path fill="#1D9E9A"
              fill-rule="evenodd"
              d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10M8.97 8.97a.75.75 0 0 1 1.06 0L12 10.94l1.97-1.97a.75.75 0 0 1 1.06 1.06L13.06 12l1.97 1.97a.75.75 0 0 1-1.06 1.06L12 13.06l-1.97 1.97a.75.75 0 0 1-1.06-1.06L10.94 12l-1.97-1.97a.75.75 0 0 1 0-1.06"
              clip-rule="evenodd" />
    </svg>
</button>
<h2 class="text-4xl font-bold text-teal-700 text-center mb-8">
    Consulte o Notifique al Cliente
</h2>
<form asp-action="EnviarMail">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2">
            <label class="block text-teal-700 text-sm font-bold mb-2"
                   for="comentario">DUDAS O CONSULTAS</label>
            <textarea asp-for="comentario" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"rows="4">

            </textarea>
            <span asp-validation-for="comentario"></span>
        </div>
    </div>
    <div class="flex items-center justify-center mt-4">
        <input asp-for="idTicket" type="hidden" />
        <button class="bg-button hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
            Enviar Email
        </button>
    </div>
</form>