@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="flex flex-col w-full h-full justify-center items-center">
    <div class="w-full max-w-xs bg-custom p-8 rounded shadow-md">
        <h2 class="text-3xl font-bold mb-6 text-center text-white">Log in</h2>
        <form action="#" method="POST">
            <div class="mb-4">
                <label for="usuario" class="block text-gray-700 text-sm font-bold mb-2 text-white">USUARIO</label>
                <input type="text" id="usuario" name="usuario" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Usuario">
            </div>
            <div class="mb-6">
                <label for="contrasena" class="block text-gray-700 text-sm font-bold mb-2 text-white">CONTRASEÑA</label>
                <input type="password" id="contrasena" name="contrasena" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="********">
            </div>
            <div class="flex items-center justify-center">
                <button type="submit" class="bg-button hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Login
                </button>
            </div>
        </form>
    </div>

</div>